<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="org.apache.cordova.background-download"
      version="0.0.1">
    <name>Background Download</name>

    <description>Cordova Background Download Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,background,file,download</keywords>
    <repo>TODO</repo>
    <issue>TODO</issue>

    <dependency id="org.apache.cordova.file" />
    
    <js-module src="www/q.js" name="q">
    </js-module>

    <js-module src="www/BackgroundDownloader.js" name="BackgroundDownloader">
        <clobbers target="BackgroundTransfer.BackgroundDownloader" />
    </js-module>
    
    <js-module src="www/DownloadOperation.js" name="DownloadOperation">
        <clobbers target="DownloadOperation" />
    </js-module>

    <!-- windows8 -->
    <platform name="windows8">
        <js-module src="src/windows8/BackgroundDownloadProxy.js" name="BackgroundDownload">
            <merges target="" />
        </js-module>
    </platform>
</plugin>
